:root {
  /* 白天样式 */
  --content-bgc: #fff;
  /*内容的背景颜色 */
  --box-bgc: #fff;
  /*盒子的白 */
  --box-shadow: 0.2vw 0.2vw 1vw rgba(0, 0, 0, 0.2);
  /*卡片的阴影样式 */
  --boxHoverShadow: 0.5vw 0.5vw 1.1vw rgba(0, 0, 0, 0.3);
  /* 边框hover的阴影样式 */
  --fontNormal: #000;
  /* 常规 */
  --settingColor: #000;
  /*工具栏 */
}

.dark {
  /* 夜晚样式 */
  --content-bgc: #272727;
  --box-bgc: #272727;
  --box-shadow: 0 1px 20px -6px rgba(255, 255, 255, 0.406);
  --boxHoverShadow: 0.5vw 0.5vw 1.1vw rgba(0, 0, 0, 0.3);
  --settingColor: #fff;
  --fontNormal: #fff;
}